<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>
<header th:replace="fragments :: header"></header>

<h4>Customer list:</h4>
<div class="col-6">
    <h3 th:unless="${customers} and ${customers.size()}">There are no customers!</h3>
    <a class="btn btn-info" th:href="@{/customerView/edit-create}">Add</a>

    <table th:if="${customers.size()>0}" class="table table-hover">
        <th>Id</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
        <tr th:each="customer : ${customers}">
            <td th:text="${customer.idCustomers}"></td>
            <td th:text="${customer.name}"></td>
            <td><a class="btn btn-info"
                   th:href="@{'/customerView/edit/'+${customer.idCustomers}}">Edit</a></td>
            <td><a class="btn btn-danger" th:href="@{'/customerView/delete/'+${customer.idCustomers}}">Delete</a>
            </td>
        </tr>
    </table>
</div>
</body>

<footer th:replace="fragments :: footer"></footer>
</html>